<% provide :title_admin, 'Actualités' %>
<h1>Gérer les comptes actualité</h1>
<%= link_to(new_admin_v2_actuality_path,:class=>'button button-blue float-right') do %>
    <span>Créer Actualité</span> <i class="fa fa-newspaper-o"></i>
<% end %>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de création</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @actualities.each.with_index(1) do |actuality, index| %>
        <tr>
            <td data-th="ID" ><%= index %></td>
            <td data-th="Titre" ><%= actuality.title %></td>
            <td data-th="Auteur" ><%= actuality.user.name unless actuality.user.nil? %></td>
            <td data-th="Date de création" ><%= actuality.created_at.to_time.strftime("%m/%d/%Y") %></td>
            <td data-th="Action" >
                <%= link_to(edit_admin_v2_actuality_path(actuality)) do %>
                <i class="fa fa-pencil"></i> Modifier
                <% end %>
                <%= link_to(admin_v2_actuality_path(actuality), method: :delete, data: {confirm: "Êtes-vous sûr de vouloir supprimer l'actualité '#{actuality.title}' ?"}) do %>
                <i class="fa fa-trash-o"></i> Supprimer
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>