<section class="banner banner-blue banner-postuler">
  <div class="container">
      <p>Postuler</p>
    </div>
</section>
<div class="container">
  <% if flash[:error] %>
    <div class="alert alert-orange"><%= flash[:error] %></div>
  <% else %>
    <div class="alert alert-green"><%= flash[:success] %></div>
  <% end %>
  <div class="button_wrapper row">
    <a href="http://www.lp-dw.com/wp-content/uploads/LPDW-Candidature-2014-15.pdf" class="button">Télécharger le dossier de candidature</a>
    <span class="separator hidden-xs">OU</span>
    <a href="#" id="fill_form" class="button hidden-xs">Remplir le dossier de candidature</a>
    <a href="#" class="button_2" id="get_progression">Déjà commencé à remplir? Reprenez-en là où vous en étiez</a>
  </div>
  <div class="form_wrapper hidden-xs">
    <div class="get_progression_form hidden-xs">
      <%= form_for (Applicant.new), url: applicant_login_path do |f| %>
          <fieldset class="row centered">
          <h3>Entrez vos informations pour retrouver votre progression</h3>
            <%= f.text_field :email, autofocus: true , :class => 'input' ,:placeholder=>"Email"%>
            <%= f.text_field :assurance, :class => 'input' ,:placeholder=>"Num Sécurité sociale"%>
            <%= f.submit "Se connecter", :class => 'input-btn' %>
          </fieldset>
      <% end %>
    </div>
    <ul class="apply_steps row">
      <li class="apply_step step_1 col-sm-3 active" data-step="1">01 - Informations</li>
      <li class="apply_step step_2 col-sm-3" data-step="2">02 - Cursus</li>
      <li class="apply_step step_3 col-sm-3" data-step="3">03 - Expériences</li>
      <li class="apply_step step_4 col-sm-3" data-step="4">04 - Projets</li>
    </ul>
    <div class="step step1">
      <%= form_for (@applicant), url: create_apply_path, :html => {:class => 'hidden-xs', 'data-parsley-validate' => '', :id => 'edit_applicant'} do |f| %>
        <%= f.hidden_field(:ip_address, value: request.remote_ip.to_s) %>
        <%= f.fields_for :applicant_status, @applicant.build_applicant_status do |ff| %>
          <%= ff.hidden_field(:is_finish, value: false) %>
          <%= ff.hidden_field(:is_complete, value: 0) %>
          <%= ff.hidden_field(:ok_for_interview, value: false) %>
          <%= ff.hidden_field(:interview_result, value: 0) %>
          <%= ff.hidden_field(:is_refused, value: false) %>
        <% end %>
        <fieldset class="row centered">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :name, 'data-parsley-group' => "step1", 'placeholder' => "Nom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :first_name, 'data-parsley-group' => "step1", 'placeholder' => "Prenom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :address, 'data-parsley-group' => "step1", 'placeholder' => "address*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :zip_code, 'data-parsley-group' => "step1", 'placeholder' => "Code postal*", "data-parsley-type" => "digits", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :city, 'data-parsley-group' => "step1", 'placeholder' => "Ville*", "required"=> ''%>
              </div>
              <span class="col-sm-12 input_wrapper">Téléphone</span>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :home_phone, 'data-parsley-group' => "step1", 'placeholder' => "Domicile*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :private_phone, 'data-parsley-group' => "step1", 'placeholder' => "Mobile", "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.email_field :email, 'data-parsley-group' => "step1", 'placeholder' => "Email*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.date_field :birth, 'data-parsley-group' => "step1", 'placeholder' => "Date de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :birth_place, 'data-parsley-group' => "step1", 'placeholder' => "Lieu de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :nationality, 'data-parsley-group' => "step1", 'placeholder' => "Nationalité*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :assurance, 'data-parsley-group' => "step1", 'placeholder' => "N° de sécurité sociale*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[15, 15]"%>
              </div>
              <span class="col-sm-12 input_wrapper">Situation de famille*</span>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Célibataire", 'for' => "celibataire", :class =>'radio_left'%>
                  <%= f.radio_button :status,"true" ,{:class =>'radio_center-left' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>

                  <%= f.label "Marié", 'for' => "marie", :class =>'radio_center-right'%>
                  <%= f.radio_button :status, "false", {:class =>'radio_right' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <p class="col-sm-12">Avez-vous dans votre entourage immédiat une ou plusieurs personnes travaillant dans le domaine du multimédia ? *</p>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Oui", 'for' => "entourage_true", :class =>'radio_left'%>
                  <%= f.radio_button :has_connection, 'true', {:class =>'radio_center-left' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "yes", :id => "entourage_true"}%>

                  <%= f.label "Non", 'for' => "entourage_false", :class =>'radio_center-right'%>
                  <%= f.radio_button :has_connection, 'false', {:class =>'radio_right' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "no", :id => "entourage_false"}%>
                </p>
              </div>
              <div class="col-sm-12 input_wrapper entourage_wrapper">
                <%= f.text_area :connection_desc, 'placeholder' => "Précisez*", :class => "big"%>
              </div>
              <p class="col-sm-12">Comment avez-vous été informé de l'existence de cette formation? *</p>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :know_formation, 'data-parsley-group' => "step1", :class => "big", 'required' => ''%>
              </div>
              <p class="col-sm-12 input_wrapper">AUTRE CANDIDATURES (Universités, écoles, autres établissements) :Indiquer les autres candidatures que vous présentez pour l’année universitaire, par ordre de préférence (en y incluant votre demande concernant la Licence professionnelle Développeur Web et Web Mobile) </p>
              <ul class="col-sm-12 input_wrapper schools_list">
                <div class="row">
                  <% @i = 0 %>
                  <%= f.fields_for :other_application do |ff| %>
                    <% @i = @i + 1 %>
                    <li class="col-sm-6 school_item"><%= ff.label @i.to_s %>
                      <%= ff.text_field :content, 'data-parsley-group' => "step1", "required"=> ''%>
                    </li>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </fieldset>
        <a class="next" data-current="1" data-next="2" href="">étape suivante</a>
        <%= f.submit "Sauvegarder pour reprendre plus tard", :class => 'button submit gotoend save_entry' %>
      <% end %>
    </div>
    <div class="step step2">
      <%= form_for @applicant, method: :patch, url: create_apply_path, :html => {:class => 'hidden-xs', 'data-parsley-validate' => '', :id => 'edit_applicant'} do |f| %>
        <fieldset class="row centered">
          <div class="cursus_list col-md-12">
            <ul class="row">
              <li class="col-md-2">Dîplome</li>
              <li class="col-md-2">Année</li>
              <li class="col-md-3">Spécialité</li>
              <li class="col-md-2">Mention</li>
              <li class="col-md-3">Lieu</li>
            </ul>
            <%= f.fields_for :cursus, @applicant.cursus.new do |ff| %>
              <ul class="row">
                <li class="col-md-2"><%= ff.text_field :graduation, 'data-parsley-group' => "step2", "required"=> ''%></li>
                <li class="col-md-2"><%= ff.text_field :year, 'data-parsley-group' => "step2", "required"=> ''%></li>
                <li class="col-md-3"><%= ff.text_field :option, 'data-parsley-group' => "step2", "required"=> ''%></li>
                <li class="col-md-2"><%= ff.text_field :result, 'data-parsley-group' => "step2", "required"=> ''%></li>
                <li class="col-md-3"><%= ff.text_field :place, 'data-parsley-group' => "step2", "required"=> ''%></li>
              </ul>
            <% end %>
            </ul>
          </div>
          <div class="col-sm-6">
            <span class="col-sm-12 input_wrapper">Niveau d'anglais</span>
            <p>
              <%= f.label "Notions"%>
              <%= f.radio_button :english_skill, '1', { 'data-parsley-group' => "step2", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "1"}%>
              <%= f.label "bien"%>
              <%= f.radio_button :english_skill, '2', { 'data-parsley-group' => "step2", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "2"}%>
              <%= f.label "courant"%>
              <%= f.radio_button :english_skill, '3', { 'data-parsley-group' => "step2", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "3"}%>
            </p>
            <%= f.text_area :other_language, 'data-parsley-group' => "step2", :class => "col-sm-12 input_wrapper", 'placeholder' => 'Autres langues'%>
          </div>
          <div class="col-sm-6">
            <span class="col-sm-12 input_wrapper">Activités extra-scolaires</span>
            <ul>
              <li><%= f.text_area :after_school, 'data-parsley-group' => "step2", :class => "input_wrapper", 'placeholder' => 'Activités'%></li>
            </ul>
          </div>
        </fieldset>
        <a class="next" data-current="2" data-next="3" href="#">étape suivante</a>
        <%= f.submit "Sauvegarder pour reprendre plus tard", :class => 'button submit gotoend save_entry' %>
      <% end %>
    </div>
    <div class="step step3">
      <%= form_for @applicant, method: :patch, url: create_apply_path, :html => {:class => 'hidden-xs', 'data-parsley-validate' => '', :id => 'edit_applicant'} do |f| %>
        <fieldset class="centered">
          <div class="experience_list">
            <ul class="row">
              <li class="col-md-1">Date</li>
              <li class="col-md-2">Entreprise</li>
              <li class="col-md-5">Mission</li>
              <li class="col-md-4">Compétences mises en oeuvre</li>
            </ul>
            <%= f.fields_for :professional_experiences, @applicant.professional_experiences.new do |ff| %>
              <ul class="row">
                <li class="col-md-1"><%= ff.text_field :year, 'data-parsley-group' => "step3" %></li>
                <li class="col-md-2"><%= ff.text_field :company, 'data-parsley-group' => "step3" %></li>
                <li class="col-md-5"><%= ff.text_field :role, 'data-parsley-group' => "step3" %></li>
                <li class="col-md-4"><%= ff.text_field :skill, 'data-parsley-group' => "step3" %></li>
              </ul>
            <% end %>
          </div>
        </fieldset>
        <a class="next" data-current="3" data-next="4" href="#">étape suivante</a>
        <%= f.submit "Sauvegarder pour reprendre plus tard", :class => 'button submit gotoend save_entry' %>
      <% end %>
    </div>
    <div class="step step4">
      <%= form_for @applicant, method: :patch, url: create_apply_path, :html => {:class => 'hidden-xs', 'data-parsley-validate' => '', :id => 'edit_applicant'} do |f| %>
        <fieldset class="centered">
          <div class="row">
            <span class="col-sm-12">Projets scolaires</span>
          </div>
          <br>
          <div class="projects_list">
            <ul class="row">
              <li class="col-md-1">Année</li>
              <li class="col-md-2">Formation</li>
              <li class="col-md-9">Description</li>
            </ul>
            <%= f.fields_for :project_applicants, @applicant.project_applicants.new do |ff| %>
              <ul class="row">
                <li class="col-md-1"><%= ff.text_field :year, 'data-parsley-group' => "step5" %></li>
                <li class="col-md-2"><%= ff.text_field :project_type, 'data-parsley-group' => "step5", :value => 'scolaire'%></li>
                <li class="col-md-5"><%= ff.text_field :content, 'data-parsley-group' => "step5" %></li>
              </ul>
            <% end %>
          </div>
          <br>
          <div class="row">
            <span class="col-sm-12">Projets personnels</span>
          </div>
          <br>
          <div class="projects_list">
            <ul class="row">
              <li class="col-md-1">Année</li>
              <li class="col-md-11">Description</li>
            </ul>
            <%= f.fields_for :project_applicants, @applicant.project_applicants.new do |ff| %>
              <ul class="row">
                <li class="col-md-1"><%= ff.text_field :year, 'data-parsley-group' => "step5" %></li>
                <li class="col-md-2"><%= ff.text_field :project_type, 'data-parsley-group' => "step5", :value => 'personnel' %></li>
                <li class="col-md-5"><%= ff.text_field :content, 'data-parsley-group' => "step5" %></li>
              </ul>
            <% end %>
          </div>
        </fieldset>
        <%= f.submit "Valider Définitivement", :class => 'button submit gotoend save_entry' %>
      <% end %>
    </div>
  </div>
</div>