<section class="banner banner-blue banner-postuler">
  <div class="container">
      <p>Postuler</p>
    </div>
</section>
<div class="container first_apply">
  <% if flash[:error] %>
    <div class="alert alert-orange"><%= flash[:error] %></div>
  <% else %>
    <div class="alert alert-green"><%= flash[:success] %></div>
  <% end %>
  <% if on_show_route_apply %>
  <div class="button_wrapper row">
    <a href="http://www.lp-dw.com/wp-content/uploads/LPDW-Candidature-2014-15.pdf" class="button">Télécharger le dossier de candidature</a>
    <span class="separator hidden-xs">OU</span>
    <a href="#" id="fill_form" class="button hidden-xs">Remplir le dossier de candidature</a>
    <a href="#" class="button_2" id="get_progression">Déjà commencé à remplir? Reprenez-en là où vous en étiez</a>

  </div>

  <div class="form_wrapper hidden-xs">
    <div class="get_progression_form hidden-xs">
      <!-- TODO : change destination form path -->
      <%= form_for (Applicant.new), url: applicant_login_path do |f| %>
          <fieldset class="row centered">
          <h3>Entrez vos informations pour retrouver votre progression</h3>
            <%= f.text_field :email, autofocus: true , :class => 'input' ,:placeholder=>"Email"%>
            <%= f.password_field :password, autocomplete: "off", :class=>"input",:placeholder=>"Mot de passe" %>
            <%= f.submit "Se connecter", :class => 'input-btn' %>
          </fieldset>
      <% end %>
    </div>
    <ul class="apply_steps row">
      <li class="apply_step step_1 active" data-step="1">01 - Informations</li>
    </ul>
    <div class="step step1">
      <%= form_for (@applicant), url: create_apply_path, :html => {:class => 'hidden-xs apply-form', 'data-parsley-validate' => '', :id =>"apply-step1"} do |f| %>
        <%= f.hidden_field(:ip_address, value: request.remote_ip.to_s) %>
        <%= f.hidden_field(:step_position, value: 1) %>
        <%= f.fields_for :applicant_status, @applicant.build_applicant_status do |ff| %>
          <%= ff.hidden_field(:is_finish, value: false) %>
          <%= ff.hidden_field(:is_complete, value: 0) %>
          <%= ff.hidden_field(:ok_for_interview, value: false) %>
          <%= ff.hidden_field(:interview_result, value: 0) %>
          <%= ff.hidden_field(:is_refused, value: false) %>
        <% end %>
        <fieldset class="row centered">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :name, 'placeholder' => "Nom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :first_name, 'placeholder' => "Prenom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :address, 'placeholder' => "address*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :zip_code, 'placeholder' => "Code postal*", "data-parsley-type" => "digits", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :city, 'placeholder' => "Ville*", "required"=> ''%>
              </div>
              <span class="col-sm-12 input_wrapper">Téléphone</span>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :home_phone, 'placeholder' => "Domicile*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :private_phone, 'placeholder' => "Mobile", "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.email_field :email, 'placeholder' => "Email*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.date_field :birth, 'placeholder' => "Date de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :birth_place, 'placeholder' => "Lieu de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :nationality, 'placeholder' => "Nationalité*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :assurance, 'placeholder' => "N° de sécurité sociale*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[15, 15]"%>
              </div>
              <span class="col-sm-12 input_wrapper">Situation de famille*</span>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Célibataire", 'for' => "celibataire", :class =>'radio_left'%>
                  <%= f.radio_button :status,"true" ,{:class =>'radio_center-left' , "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>

                  <%= f.label "Marié", 'for' => "marie", :class =>'radio_center-right'%>
                  <%= f.radio_button :status, "false", {:class =>'radio_right' , "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <p class="col-sm-12">Avez-vous dans votre entourage immédiat une ou plusieurs personnes travaillant dans le domaine du multimédia ? *</p>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Oui", 'for' => "entourage_true", :class =>'radio_left'%>
                  <%= f.radio_button :has_connection, 'true', {:class =>'radio_center-left' , "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "yes", :id => "entourage_true"}%>

                  <%= f.label "Non", 'for' => "entourage_false", :class =>'radio_center-right'%>
                  <%= f.radio_button :has_connection, 'false', {:class =>'radio_right' , "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "no", :id => "entourage_false"}%>
                </p>
              </div>
              <div class="col-sm-12 input_wrapper entourage_wrapper">
                <%= f.text_area :connection_desc, 'placeholder' => "Précisez*", :class => "big"%>
              </div>
              <p class="col-sm-12">Comment avez-vous été informé de l'existence de cette formation? *</p>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :know_formation, :class => "big", 'required' => ''%>
              </div>
              <p class="col-sm-12 input_wrapper">AUTRE CANDIDATURES (Universités, écoles, autres établissements) :Indiquer les autres candidatures que vous présentez pour l’année universitaire, par ordre de préférence (en y incluant votre demande concernant la Licence professionnelle Développeur Web et Web Mobile) </p>
              <ul class="col-sm-12 input_wrapper schools_list">
                <div class="row">
                    <%= f.add_nested_fields_link :other_application, 'Ajouter une autre école' %>
                    <%= f.nested_fields_for :other_application, wrapper_tag: :div do |ff| %>
                      <li class="col-sm-6 school_item">
                        <%= ff.text_field :content, "required"=> ''%>
                        <%= ff.remove_nested_fields_link 'Remove' ,class: 'fa fa-close' %>
                      </li>
                    <%end%>
                </div>
              </ul>
            </div>
          </div>
        </fieldset>
        <%= f.submit "Sauvegarder et continuer", :class => 'next button submit gotoend save_entry', 'data-current' => '1', 'data-next' => '2' %>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="button_wrapper row">
    <p class="text-center lead">Les candidatures sont fermées</p>
  </div>
  <% end %>
</div>