<section class="banner banner-blue banner-postuler">
  <div class="container">
      <p>Postuler</p>
    </div>
</section>
<div class="container">
  <% if flash[:error] %>
    <div class="alert alert-orange"><%= flash[:error] %></div>
  <% else %>
    <div class="alert alert-green"><%= flash[:success] %></div>
    <%= @applicant.inspect %>
  <% end %>
  <div class="button_wrapper row">
    <a href="http://www.lp-dw.com/wp-content/uploads/LPDW-Candidature-2014-15.pdf" class="button">Télécharger le dossier de candidature</a>
    <span class="separator hidden-xs">OU</span>
    <a href="#" id="fill_form" class="button hidden-xs">Remplir le dossier de candidature</a>
  </div>
  <div class="form_wrapper hidden-xs">
    <ul class="apply_steps row">
      <li class="apply_step step_1 col-sm-3 active" data-step="1">01 - Informations</li>
      <li class="apply_step step_2 col-sm-3" data-step="2">02 - Cursus</li>
      <li class="apply_step step_3 col-sm-3" data-step="3">03 - Expériences</li>
      <li class="apply_step step_4 col-sm-3" data-step="4">04 - Projets</li>
    </ul>
    <%= form_for (@applicant), url: applicant_create_apply_path(@applicant.id), :html => {:class => 'hidden-xs', 'data-parsley-validate' => ''} do |f| %>
      <div class="step step1">
        <fieldset class="row centered">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :name, 'data-parsley-group' => "step1", 'placeholder' => "Nom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :first_name, 'data-parsley-group' => "step1", 'placeholder' => "Prenom*", "maxlength" => "60", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :address, 'data-parsley-group' => "step1", 'placeholder' => "address*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :zip_code, 'data-parsley-group' => "step1", 'placeholder' => "Code postal*", "data-parsley-type" => "digits", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :city, 'data-parsley-group' => "step1", 'placeholder' => "Ville*", "required"=> ''%>
              </div>
              <span class="col-sm-12 input_wrapper">Téléphone</span>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :home_phone, 'data-parsley-group' => "step1", 'placeholder' => "Domicile*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.telephone_field :private_phone, 'data-parsley-group' => "step1", 'placeholder' => "Mobile", "data-parsley-type" => "digits", "data-parsley-length" => "[10, 10]"%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.email_field :email, 'data-parsley-group' => "step1", 'placeholder' => "Email*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.date_field :birth, 'data-parsley-group' => "step1", 'placeholder' => "Date de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-6 input_wrapper">
                <%= f.text_field :birth_place, 'data-parsley-group' => "step1", 'placeholder' => "Lieu de naissance*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :nationality, 'data-parsley-group' => "step1", 'placeholder' => "Nationalité*", "required"=> ''%>
              </div>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_field :assurance, 'data-parsley-group' => "step1", 'placeholder' => "N° de sécurité sociale*", "required"=> '', "data-parsley-type" => "digits", "data-parsley-length" => "[15, 15]"%>
              </div>
              <span class="col-sm-12 input_wrapper">Situation de famille*</span>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Célibataire", 'for' => "celibataire", :class =>'radio_left'%>
                  <%= f.radio_button :status,"true" ,{:class =>'radio_center-left' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>

                  <%= f.label "Marié", 'for' => "marie", :class =>'radio_center-right'%>
                  <%= f.radio_button :status, "false", {:class =>'radio_right' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => ""}%>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <p class="col-sm-12">Avez-vous dans votre entourage immédiat une ou plusieurs personnes travaillant dans le domaine du multimédia ? *</p>
              <div class="col-sm-12 input_wrapper">
                <p>
                  <%= f.label "Oui", 'for' => "entourage_true", :class =>'radio_left'%>
                  <%= f.radio_button :has_connection, 'true', {:class =>'radio_center-left' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "yes", :id => "entourage_true"}%>

                  <%= f.label "Non", 'for' => "entourage_false", :class =>'radio_center-right'%>
                  <%= f.radio_button :has_connection, 'false', {:class =>'radio_right' , 'data-parsley-group' => "step1", "required"=> '', "data-parsley-errors-messages-disabled" => "", 'value' => "no", :id => "entourage_false"}%>
                </p>
              </div>
              <div class="col-sm-12 input_wrapper entourage_wrapper">
                <%= f.text_area :connection_desc, 'placeholder' => "Précisez*", :class => "big"%>
              </div>
              <p class="col-sm-12">Comment avez-vous été informé de l'existence de cette formation? *</p>
              <div class="col-sm-12 input_wrapper">
                <%= f.text_area :know_formation, 'data-parsley-group' => "step1", :class => "big", 'required' => ''%>
              </div>
              <p class="col-sm-12 input_wrapper">AUTRE CANDIDATURES (Universités, écoles, autres établissements) :Indiquer les autres candidatures que vous présentez pour l’année universitaire, par ordre de préférence (en y incluant votre demande concernant la Licence professionnelle Développeur Web et Web Mobile) </p>
              <ul class="col-sm-12 input_wrapper schools_list">
                <div class="row">
                  <% @i = 0 %>
                  <%= f.fields_for :other_application do |ff| %>
                    <% @i = @i + 1 %>
                    <li class="col-sm-6 school_item"><%= ff.label @i.to_s %>
                      <%= ff.text_field :content, 'data-parsley-group' => "step1", "required"=> ''%>
                    </li>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </fieldset>
        <a class="next" data-current="1" data-next="2" href="">étape suivante</a>
      </div>
      <div class="step step2">
        <fieldset class="row centered">
          <div class="cursus_list col-md-12">
            <ul class="row">
              <li class="col-md-2">Dîplome</li>
              <li class="col-md-2">Année</li>
              <li class="col-md-3">Spécialité</li>
              <li class="col-md-2">Mention</li>
              <li class="col-md-3">Lieu</li>
            </ul>
            <ul class="row">
              <li class="col-md-2">Bac*</li>
              <%= f.fields_for :cursus do |ff| %>
                <li class="col-md-2"><%= ff.text_field :graduation, 'data-parsley-group' => "step2", "required"=> ''%></li>
              <% end %>
              <li class="col-md-3"><input type="text" name="specialite" required data-parsley-group="step2"></li>
              <li class="col-md-2"><input type="text" name="mention" data-parsley-group="step2"></li>
              <li class="col-md-3"><input type="text" name="lieu" required data-parsley-group="step2"></li>
            </ul>
            <ul class="row">
              <li class="col-md-2">Bac +2*</li>
              <li class="col-md-2"><input type="text" name="annee" required data-parsley-group="step2"></li>
              <li class="col-md-3"><input type="text" name="specialite" required data-parsley-group="step2"></li>
              <li class="col-md-2"><input type="text" name="mention" data-parsley-group="step2"></li>
              <li class="col-md-3"><input type="text" name="lieu" required data-parsley-group="step2"></li>
            </ul>
            <ul class="row">
              <li class="col-md-2">Autre</li>
              <li class="col-md-2"><input type="text" name="annee"></li>
              <li class="col-md-3"><input type="text" name="specialite"></li>
              <li class="col-md-2"><input type="text" name="mention"></li>
              <li class="col-md-3"><input type="text" name="lieu"></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <span class="col-sm-12 input_wrapper">Niveau d'anglais</span>
            <p>
              <label for="notions">Notions</label>
              <input type="radio" name="niveau_anglais" value="notions" id="notions" required data-parsley-group="step2" data-parsley-errors-messages-disabled>
              <label for="bien">Bien</label>
              <input type="radio" name="niveau_anglais" value="bien" id="bien">
              <label for="courant">Courant</label>
              <input type="radio" name="niveau_anglais" value="courant" id="courant">
            </p>
            <textarea class="col-sm-12 input_wrapper" placeholder="Autres langues"></textarea>
          </div>
          <div class="col-sm-6">
            <span class="col-sm-12 input_wrapper">Activités extra-scolaires</span>
            <ul>
              <li><input class="input_wrapper" type="text" placeholder="Activité"></li>
            </ul>
          </div>
        </fieldset>
        <a class="next" data-current="2" data-next="3" href="#">étape suivante</a>
      </div>
      <%= f.submit 'Sauvegarder pour reprendre plus tard', :class => 'button submit gotoend save_entry' %>
    <% end %>
      <div class="step step3">
        <fieldset class="centered">
          <div class="experience_list">
            <ul class="row">
              <li class="col-md-1">Date</li>
              <li class="col-md-2">Entreprise</li>
              <li class="col-md-5">Mission</li>
              <li class="col-md-4">Compétences mises en oeuvre</li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="date"></li>
              <li class="col-md-2"><input type="text" name="entreprise"></li>
              <li class="col-md-5"><input type="text" name="mission"></li>
              <li class="col-md-4"><input type="text" name="competences"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="date"></li>
              <li class="col-md-2"><input type="text" name="entreprise"></li>
              <li class="col-md-5"><input type="text" name="mission"></li>
              <li class="col-md-4"><input type="text" name="competences"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="date"></li>
              <li class="col-md-2"><input type="text" name="entreprise"></li>
              <li class="col-md-5"><input type="text" name="mission"></li>
              <li class="col-md-4"><input type="text" name="competences"></li>
            </ul>
          </div>
          </fieldset>
        <a class="next" data-current="3" data-next="4" href="#">étape suivante</a>
      </div>
      <div class="step step4">
        <fieldset class="centered">
          <div class="row">
            <span class="col-sm-12">Projets scolaires</span>
          </div>
          <br>
          <div class="projects_list">
            <ul class="row">
              <li class="col-md-1">Année</li>
              <li class="col-md-2">Formation</li>
              <li class="col-md-9">Description</li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-2"><input type="text" name="formation"></li>
              <li class="col-md-9"><input type="text" name="description"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-2"><input type="text" name="formation"></li>
              <li class="col-md-9"><input type="text" name="description"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-2"><input type="text" name="formation"></li>
              <li class="col-md-9"><input type="text" name="description"></li>
            </ul>
          </div>
          <br>
          <div class="row">
            <span class="col-sm-12">Projets personnels</span>
          </div>
          <br>
          <div class="projects_list">
            <ul class="row">
              <li class="col-md-1">Année</li>
              <li class="col-md-11">Description</li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-11"><input type="text" name="description"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-11"><input type="text" name="description"></li>
            </ul>
            <ul class="row">
              <li class="col-md-1"><input type="text" name="annee"></li>
              <li class="col-md-11"><input type="text" name="description"></li>
            </ul>
          </div>
          </fieldset>

        <input type="submit" class="button submit gotoend" href="#" value="Valider défintivement">
          <!-- <a class="submit gotoend" href="#">Imprimer</a> -->
      </div>
  </div>
</div>