<section class="banner banner-blue banner-team">
  <div class="container">
    <p>Annuaire des anciens</p>
  </div>
</section>
<div class="student-profile">
  <div class="container">

    <div class="row">
      <div class="student-infos">
        <img src="/assets/1.jpg" class="col-md-3 block">
        <div class="col-md-offset-1 col-md-8">
          <div class="row block">
                <h1 class="col-md-10"><%= @student.lastname %>  <%= @student.name %></h1>
                <p class="col-md-2">Promo: <%= @student.users_info.graduation_year %></p>

            <% if !@student.birth.blank? %>
                <% age = ((Time.new) - (@student.birth))/60/60/24/365,25 %>
                <p class="birthday col-md-12">Age: <%= age[0].to_i %></p>
            <% else %>
                <p class="birthday col-md-12">Age: Non renseigné</p>
            <% end %>
          </div>
          <div class="row social">
            <ul>
              <% if @student.users_info.cv.present? %>
                  <li class="cv"><a target="_blank" href=<%= @student.users_info.cv%>>CV</a></li>
              <% end %>
              <% if @student.twitter.present? %>
                  <li><a target="_blank" href=<%= @student.twitter%>><i class="fa fa-twitter fa-2x"></i></a></li>
              <% end %>
              <% if @student.googleplus.present? %>
                  <li><a target="_blank" href=<%= @student.googleplus%>><i class="fa fa-google-plus fa-2x"></i></a></li>
              <% end %>
              <% if @student.linkin.present? %>
                  <li><a target="_blank" href=<%= @student.linkin%>><i class="fa fa-linkedin fa-2x"></i></a></li>
              <% end %>
              <% if @student.email.present? %>
                  <li><a data-toggle="modal" data-target="#contact_modal" href="#contact_modal"><i class="fa fa-envelope fa-2x"></i></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="block row">
      <div class="student-jobs">
        <div class="current-job">
            <div class="row">
                <p class="col-md-2">Poste Actuel :</p> <h2 class="col-md-offset-1 col-md-9"><%= @student.users_info.current_job_title %></h2>
                <% current_salary = (@student.users_info.current_average_salary.present? ? @student.users_info.current_average_salary+' €' : 'Non renseigné') %>
                <div class="salary col-md-12"><p class="col-md-2">Salaire:</p> <p class="col-md-offset-1 col-md-9"><%= current_salary %></p></div>
            </div>
            <div class="row">
                <p class="col-md-2">Description :</p> <p class="col-md-offset-1 col-md-9"><%= @student.users_info.current_job_desc %></p>
            </div>
        </div>

        <div class="lp-job">
            <div class="row">
                <p class="col-md-2">Poste en Licence Pro:</p> <h2 class="col-md-offset-1 col-md-9"><%= @student.users_info.lp_job_title %></h2>
                <% lp_salary = (@student.users_info.lp_average_salary.present? ? @student.users_info.lp_average_salary+' €' : 'Non renseigné') %>
                <div class="salary col-md-12"><p class="col-md-2">Salaire:</p> <p class="col-md-offset-1 col-md-9"><%= lp_salary %></p></div>
            </div>
            <div class="row">
                <p class="col-md-2">Description :</p> <p class="col-md-offset-1 col-md-9"><%= @student.users_info.lp_job_desc %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Formulaire de contact</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputtext1">Objet</label>
              <input type="text" class="form-control" id="exampleInputText1" placeholder="Text">
            </div>
            <div class="form-group">
              <label for="comment">Message</label>
              <textarea class="form-control" rows="5" id="comment" placeholder="Text"></textarea>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
    </div>
  </div>