<section class="banner banner-blue banner-team">
  <div class="container">
    <p>Annuaire des anciens</p>
  </div>
</section>
<div class="student-profile">
  <div class="container">

    <div class="row">
      <div class="student-infos">
        <img src="/assets/1.jpg" class="block col-md-3">
        <div class="col-md-offset-1 col-md-8">
          <div class="row block">
            <ul>
              <% if @student.user.twitter.present? %>
                  <li><a target="_blank" href=<%= @student.user.twitter%>><i class="fa fa-twitter"></i></a></li>
              <% end %>
              <% if @student.user.googleplus.present? %>
                  <li><a target="_blank" href=<%= @student.user.googleplus%>><i class="fa fa-google-plus"></i></a></li>
              <% end %>
              <% if @student.user.viadeo.present? %>
                  <li><a target="_blank" href=<%= @student.user.viadeo%>><i class="fa fa-google-plus"></i></a></li>
              <% end %>
              <% if @student.user.linkin.present? %>
                  <li><a target="_blank" href=<%= @student.user.linkin%>><i class="fa fa-linkedin"></i></a></li>
              <% end %>
            </ul>
          </div>
          <div class="row block">
              <h1><%= @student.user.lastname %>  <%= @student.user.name %></h1>
            <% if !@student.user.birth.blank? %>
                <% age = ((Time.new) - (@student.user.birth))/60/60/24/365,25 %>
                <li>Age: <%= age[0].to_i %></li>
            <% else %>
                <li>Age: Non renseigné</li>
            <% end %>
            <li>Promo: <%= @student.graduation_year %></li>
          </div>
        </div>
      </div>
    </div>

    <div class="block row">
      <div class="student-jobs">
        <div class="current-job">
            <p>Poste Actuel : <h2><%= @student.current_job_title %></h2></p>
            <p>Salaire : <span><%= @student.average_salary.value %></span></p>
        </div>
        <div class="lp-job">
            <p>Poste en Licence Pro: <h2><%= @student.lp_job_title %></h2></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ul>

<%= debug @student %>
<%= debug @student.user %>