<h2>Ajout d'alerte</h2>

<%= form_for @alert, url:  admin_create_alert_path do |f| %>

<div><%= f.label :name %><br />
<%= f.text_field :name, autofocus: true , :class => 'form-control' %></div>

<div><%= f.label :content %><br />
<%= f.text_area :content, autofocus: true , :class => 'form-control' %></div>

<div><%= f.label :level %></br>
<%= f.collection_select :level, Alert::LEVELS, :to_s, :humanize %></div>

<div><%= f.check_box (:active) %></br>
<%= f.label(:active) %></div>



<div><%= f.submit "Creer une alerte", :class => 'btn btn-default' %></div>


<% end%>