<h1>Dossiers de candidatures</h1>
<table class="table applicants">
    <thead>
        <tr>
            <th>Num</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de dépot</th>
            <th>Avis</th>
            <th>Votre avis</th>
            <th>Options</th>
            <th class="important-section-list">Status</th>
        </tr>
    </thead>
    <tbody>
    <% @count = 1;
    @applicants.each do |applicant| %>
        <tr>
            <td data-th="ID" ><%= @count %></td>
            <td data-th="Name" ><%= applicant.name %></td>
            <td data-th="First_name" ><%= applicant.first_name %></td>
            <td data-th="Date_depot" ><%= applicant.updated_at.to_time.strftime("%m/%d/%Y") %></td>

            <td data-th="Vote" >
                <%
                    @positif = 0
                    @neutre = 0
                    @negatif = 0
                    @your_vote = -1

                    applicant.votes.each do |vote|
                        if vote.id_voter == @user.id
                            @your_vote = vote.value
                        end
                        if vote.value == 2
                            @positif += 1
                        elsif vote.value == 1
                            @negatif += 1
                        else
                            @neutre += 1
                        end
                    end
                 %>
                <span class="badge badge-green">+<%= @positif %></span>
                <span class="badge badge-yellow">=<%= @neutre %></span>
                <span class="badge badge-red">-<%= @negatif %></span>
            </td>
            <td>
            <%  if @your_vote == -1 %>
                Pas encore voté
            <%  elsif @your_vote == 0 %>
                Neutre
            <%  elsif @your_vote == 1 %>
                Négatif
            <%  elsif @your_vote == 2 %>
                Positif
            <%  end %>
            </td>
            <td data-th="See">
                <%= link_to(admin_show_applicant_path(applicant), :class=>'badge badge-blue') do %>
                <i class="fa fa-eye"></i> voir
                <% end %>
                <a class="badge badge-red"><i class="fa fa-close"></i> refuser</a>
            </td>
            <td class="important-section-list" data-th="Status">
                <% if applicant.applicant_status != nil %>
                    <% @status = applicant.applicant_status %>
                    <%= status_applicant(@status) %>
                <% else %>
                <span class="alert alert-error">Erreur dans la base de donnée : le dossier n'a pas de status lié</span>
                <% end %>
            </td>
        </tr>
        <%  @count += 1
    end %>
    </tbody>
</table>