<h1>Gérer les comptes utilisateurs</h1>
<%= link_to(admin_create_user_path(),:class=>'button button-blue float-right') do %>
    <span>Créer un utilisateur</span> <i class="fa fa-user"></i>
<% end %>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
                <%= link_to(admin_edit_user_path(user)) do %>
                <i class="fa fa-pencil"></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>