
<h1>Gérer les alertes</h1>
<%= link_to(admin_create_alert_path(),:class=>'button button-blue float-right') do %>
    <span>Créer une alerte</span> <i class="fa fa-bell"></i>
<% end %>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Contenu</th>
            <th>Niveau</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @alerts.each do |alert| %>
        <tr>
            <td data-th="ID"><%= alert.id %></td>
            <td data-th="Nom"><%= alert.name %></td>
            <td data-th="Contenu"><%= alert.content %></td>
            <td data-th="Niveau"><%= alert.level %></td>
            <td data-th="Actif"><%= alert.active %></td>
            <td data-th="Actions">
                <%= link_to(admin_edit_alert_path(alert)) do %>
                <i class="fa fa-pencil"></i> Modifier
                <% end %>
                <%= link_to(admin_delete_alert_path(alert)) do %>
                <i class="fa fa-trash-o"></i>Supprimer
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>