<h1>Gérer les projets</h1>
<%= link_to(admin_create_project_path(),:class=>'button button-blue float-right') do %>
    <span>Créer un projet</span> <i class="fa fa-project"></i>
<% end %>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
        <tr>
            <td data-th="ID"><%= project.id %></td>
            <td data-th="Nom du projet"><%= project.name %></td>
            <td data-th="Action">
                <%= link_to(admin_edit_project_path(project)) do %>
                <i class="fa fa-pencil"></i> Modifier
                <% end %>
                <%= link_to(admin_delete_project_path(project)) do %>
                <i class="fa fa-trash-o"></i> Supprimer
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>