<section class="banner banner-red">
    <div class="container">
        <p>Offre d'emploi</p>
    </div>
</section>
<hr class="horizontal-line gray-bg">
<div class="bg-white new">
   <div class="container">
        <div class="row">
            <article class="col-md-12 col-md-offset-1">
                    <%= link_to(jobs_path,:class=>'more-article') do %>
                    <i class="fa fa-chevron-left"></i><span>Revenir à la liste des offres</span>
                    <% end %>
<!----- EN TETE DE l'OFFRE ------>
                    <div class="col-md-10 new-info">
                        <h1 class="new-title"><%= @job.job_name %></h1>
                        <p class="new-date">Créé le:<%= (@job.created_at).strftime("%d/%m/%Y") %></p><br />
    <div class="row">
      <div class="col-sm-6"><h3>Date de début: <%= @job.start_at %></3></div>
      <div class="col-sm-6"><h3>Durée du contrat: <%= @job.duration %></3></div>
    </div>
<!----- COORDONNEES DE L'OFFRE ------>
	<div class="container formation">
	   <div class="col-md-9">
              <section>
                 <blockquote><h2><b><%= link_to @job.company.name, company_path(@job.company.id) %></h2></b>
			Telephone: <%= @job.company.phone_number %><br />
			E-mail: <%= @job.contact %>
                </blockquote>
              </section>
           </div>
   	</div>
<!----- CORPS DE L'OFFRE ------>
                    </div>
                    <div class="col-md-10">
			<h2>Description de l'offre N° <%= @job.job_number %></h2>			
                    <%= raw @job.job_description %>
                    </div>
		   <div class="col-md-10">
		        <h2>Profil recommandé</h2>	
			<%= @job.profil %>
		   </div>
		  <div class="col-md-10">
			<h2>Compétences requises</h2>
			<%= @job.skills %>
                  </div>
		  <div class="col-md-10">
			<h2>Lieu du contrat</h2>
			<%= @job.location %>
		  </div>
            </article>
        </div>
    </div>
</div>
