<section class="banner banner-detailed">

    <p class="text-center">
    Annuaire d'entreprises
    </p>
</section>

<!-- LISTE OFFRES -->
<div class="gray-bg wrapper">
    <div class="container">
<div class="row">
            <section class="col-md-10 col-md-offset-1 home-news">
                <h1>Offres d'emplois</h1>
                <div class="row">
                    <% @jobs.each_with_index do |job, i| %>


                    <% if i%3===2  %>
                        <article class="col-md-12">
                    <% else %>
                        <article class="col-md-6">
                    <% end %>
                            <div class="article-new">
                                <h3><%= job.job_name %></h3>
                                <div class="article-excerpt"><%= HTML_Truncator.truncate((job.job_description),40).html_safe %></div>
                                <%= link_to(job,:class=>'button') do %>
                                <span>Voir</span> <i class="fa fa-chevron-right"></i>
                                <% end %>
                            </div>
                        </article>
                        <% end %>
                    </div>
                </section>
            </div>

<ul class="pagination pull-right">
  <% if @page > 1 %>
  <li>
  <%= link_to '<', companies_path(@page - 1) %>
  </li>
  <li><%= link_to @page - 1, companies_path(@page - 1) %></li>
  <% end %>

  <li class="active"><a href="#"><%= @page %></a></li>

  <% if(@hasNext) %>
    <li><%= link_to @page + 1, companies_path(@page + 1) %></li>
    <li>
      <%= link_to '>', companies_path(@page + 1) %>
    </li>
  <% end %>
</ul>


        </div>
</div>
