
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/u-cergy.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-3">
                <ul class="socials">
                    <li class="socials-facebook"><a target="_blank" href="https://www.facebook.com/lpdwm"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="socials-twitter"><a target="_blank" href="https://twitter.com/LPDW_UCP"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <nav>
                    <ul class="nav navbar-nav nav-footer">
                        <li><%= link_to 'Accueil' , root_path()%></li>
                        <li><%= link_to 'Actualités', actualities_path %></li>
                        <li><%= link_to 'La formation', formation_path() %></li>
                        <li><%= link_to 'Projets étudiants', projets_path() %></li>
                        <li><a href="http://www.faclab.org">Faclab</a></li>
                        <li><%= link_to "L'équipe", equipe_path() %></li>
                        <li><%= link_to 'Postuler', :applicant %></li>
                        <li><%= link_to 'Mentions légales', mentions_path() %></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</footer>