<h2>Ajouter une entreprise</h2>
<%= form_for(:company, url:  admin_v2_admin_edit_company_path, html: {class: "form" }) do |f| %>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :name, autofocus: true , :class => 'input' ,:placeholder=>"Nom" %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :address, autofocus: true , :class => 'input' ,:placeholder=>"Adresse" %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :zip_code, autofocus: true , :class => 'input' ,:placeholder=>"Code Postal" %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :city, autofocus: true , :class => 'input' ,:placeholder=>"Ville" %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_area :description, :class => "tinymce", :rows => 40, :cols => 120 %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :phone_number, autofocus: true , :class => 'input' ,:placeholder=>"Numéro de téléphone" %>
 </div>
</div>

<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :website ,:class => 'input' ,:placeholder=>"Lien de l'entreprise"  %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :twitter ,:class => 'input' ,:placeholder=>"Lien de Twitter"  %>
 </div>
</div>
<div class="form-group">
 <div class="col-sm-10">
   <%= f.text_field :linkedin ,:class => 'input' ,:placeholder=>"Lien de Linkedin"  %>
 </div>
</div>

<div class="form-group">
 <div class="col-sm-10">
   <%= f.submit "Modifier une entreprise", :class => 'input-btn' %>
 </div>
</div>
<% end %>

