<h1>Liste des entreprises</h1>
<%= link_to(admin_v2_admin_create_company_path(),:class=>'button button-blue float-right') do %>
    <span>Créer une entreprise</span> <i class="fa fa-newspaper-o"></i>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Site internet</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
        <tr>
            <td data-th="ID"><%= company.id %></td>
            <td data-th="Titre"><%= company.name %></td>
	    <td data-th="E-mail"><%= company.website %></td>
            <td data-th="Action">
                <%= link_to(admin_v2_admin_edit_company_path(company)) do %>
                <i class="fa fa-pencil"></i> Modifier
                <% end %>
                <%= link_to(admin_v2_admin_delete_company_path(company), data: {confirm: "Êtes-vous sûr de vouloir supprimer l'entreprise '#{company.name}' ?"}) do %>
                <i class="fa fa-trash-o"></i> Supprimer
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
