<section class="banner banner-detailed">
    <p class="text-center">
    Annuaire d'entreprises
    </p>
</section>
<!-- RECHERCHE -->
<div class="gray-bg wrapper">
    <div class="container">
        <div class="row">
            <section class="col-md-10 col-md-offset-1 home-news">
                <h3 class="content-title">Accéder aux entreprises ou aux offres d'emplois</h3><br />
                <div class="row">
                    <article class="col-md-6">
                        <div class="article-new">
                            <h3>Entreprises</h3>
				<span><%= link_to 'Voir la liste',companies_path(), :class=>"button-timeline"%></span></a>
                        </div>
                    </article>
                    <article class="col-md-6">
                 	<div class="article-new">
                            <h3>Les offres d'emplois</h3>
			   <span><%= link_to 'Voir les offres',jobs_path()%></span><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article>
                </div>
	  </section>
<!-- ENTREPRISES
<div class="gray-bg wrapper">
        <div class="container">
            <div class="row">
                <section class="col-md-8 col-md-offset-2 home-faclab">
                    <h1 class="text-center">Entreprises</h1>
                    <div class="row">
                        <article class="col-md-6">
                           <span><%= link_to 'Voir les entreprises',companies_path()%></span><i class="fa fa-chevron-right"></i></a>   
                        </article>
                        </div>  
                </section>
                <section class="col-md-8 col-md-offset-2 home-faclab">
                    <h1 class="text-center">Offres d'emplois</h1>
                    <div class="row">
                        <article class="col-md-6">
                            <span><%= link_to 'Voir les offres',jobs_path()%></span><i class="fa fa-chevron-right"></i></a>
                        </article>
                    </div>
                </section>
            </div>
        </div>
</div> -->
<!-- OFFRES D'EMPLOIS
<div class="gray-bg wrapper">
        <div class="container">
            <div class="row">
                <section class="col-md-8 col-md-offset-2 home-faclab">
                    <h1 class="text-center">Offres d'emplois</h1>
                    <div class="row">
                        <article class="col-md-12">
                            <span><%= link_to 'Voir les offres',jobs_path()%></span><i class="fa fa-chevron-right"></i></a>
                        </article>
                    </div>
                </section>
            </div> -->
        </div>
</div></div>
