<section class="banner banner-detailed">
    <p class="text-center">
    <span>Une licence en évolution</span>
    dans un monde de révolutions
    <small>licence professionnelle développement web et web mobile - Université de cergy-pontoise</small>
    </p>
</section>
<div class="gray-bg wrapper">

  <!-- ACTUALITE -->
    <div class="container">
        <div class="row">
            <section class="col-md-10 col-md-offset-1 home-news">
                <h1>Actualités</h1>
                <div class="row">
                    <% @actualities.each_with_index do |actuality, i| %>
                    <% if i === 3 %>
                        <article class="col-md-12">
                    <% else %>
                        <article class="col-md-6">
                    <% end %>

                            <div class="article-new">
                                <h3><%= actuality.title %></h3>
                                <div><%= HTML_Truncator.truncate((actuality.content),20).html_safe %></div>
                                <% if actuality.content.split.size <= 20 %>
                                <% else %>
                                    <%= link_to(actuality,:class=>'button') do %>
                                    <span>Lire la suite</span> <i class="fa fa-chevron-right"></i>
                                <% end %>
                                <% end %>
                            </div>

                        </article>
                        <% end %>
                    </div>
                    <%= link_to 'Voir tous les articles', actualities_path , html_options = {"class" =>"more-article"}%>
                </section>
            </div>
        </div>
        </div>
    </div>
<br>

    <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-6">
              <%= link_to formation_path() do%>
            <center>
              <img class="img-circle" src="http://www.lp-dw.com/formation_3.jpg" alt="Generic placeholder image" width="200" height="200">

              <%end%>
              <h2 class="text-center"><span>Découvrez</span> la formation LP-DW</h2>
              <p class="text-center">La Licence Développeur Web et Web Mobile (LP-DW) forme chaque année une vingtaine de professionnels prêts à évoluer avec internet.
                Spécialisée dans le développement web, cette licence vous apporte toute l’expérience nécessaire au cours d'un an d’alternance en entreprise.
                Tous ses étudiants partagent la même passion du web, de sa culture et se constituent un socle solide de compétences de développement.</p>
              <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>
             </center>
            </div><!-- /.col-lg-4 -->


            <div class="col-lg-6">
                <center>
                  <img class="img-circle" src="/assets/application.png" alt="Generic placeholder image" width="200" height="200">

                  <h2 class="text-center">Le faclab: Apprendre, créer, partager</h2>
                  <p class="text-center">Lieu ouvert à tous au sein de l’Université de Cergy-Pontoise, sur le site de Gennevilliers,
                    le FacLab met à votre disposition les machines, l’infrastructure, le soutien nécessaire à la réalisation de votre projet,
                    que ce soit l’accès au « Do It Yourself », s’approprier les nouvelles technologies, ou bien s’inscrire dans une démarche
                    d’apprentissage et de partage.</p>
                  <p><a class="btn btn-default centered" href="http://www.faclab.org/" role="button"><span>Voir le site</span></a></p>
                </center>
            </div><!-- /.col-lg-4 -->

             </div>
        </div>



    <div class="gray-bg wrapper">
        <div class="container">
            <div class="row">
                <section class="col-md-10 col-md-offset-1 home-creations">
                    <h1>Projets étudiants</h1>
                    <div class="row">

                        <!-- Projets étudiants -->
                        <% @projects.each_with_index do |project, i| %>
                        <article class="col-md-3 article-creation_wrapper">
                            <div class="article-creation">
                                <div class="image_wrapper">
                                    <img src="<%= project.thumbmail.url %>" alt="Faclab gennevilliers">
                                </div>
                                <h4 class="text-center"><%= project.name %></h4>
                            </div>
                        </article>
                        <% end %>
                    </div>

                    <%= link_to 'Voir toutes les créations', projets_path() , html_options = {"class" =>"more-creations"}%>

                    <!-- fin projets -->
                </section>
            </div>
        </div>
    </div>
