<section class="banner banner-work">
	<div class="container">
    	<p>projets étudiants</p>
    </div>
</section>
<div class="work_list">
    <div class="container">
        <ul id="og-grid" class="og-grid">
            <% @projects.each do |project| %>
            <li>
                <div class="image-wrapper" data-url="<%= project.link %>" data-largesrc="<%= project.thumbmail.url %>" data-title="<%= project.name %>" data-description="<%= project.description %>">
                    <img src="<%= project.thumbmail.url(:thumb) %>" alt="<%= project.name %>"/>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</div>