<section class="banner banner-blue banner-team">
	<div class="container">
    	<p>l'équipe</p>
    </div>
</section>
<div class="team-profiles">
    <div class="container">
        <div class="row">
            <% @intervenants.each do |intervenant| %>
            	<article class="col-sm-4 col-md-3">
            	    <div class="team-profile">
            	        <figure>
            	        	<img src=<%= intervenant.photo%> alt=."Faclab gennevilliers" class="img-responsive">
            	        </figure>
            	        <h4 class="text-center"><%= intervenant.name%> <%= intervenant.lastname%></h4>
            	        <p class="text-center job-title"><%= intervenant.description%></p>
                        <% if intervenant.twitter.present? or intervenant.linkin.present? %>
                            <ul class="social_section text-center">
                                <% if intervenant.twitter.present? %>
                                    <li><a target="_blank" href=<%= intervenant.twitter%>><i class="fa fa-twitter"></i></a></li>
                                <% end %>
                                <% if intervenant.linkin.present? %>
                                    <li><a target="_blank" href=<%= intervenant.linkin%>><i class="fa fa-linkedin"></i></a></li>
                                <% end %>
                            </ul>
                        <% end %>
            	    </div>
            	</article>
            <% end %>

            <!--
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/emmanuelle.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Emmanuelle Roux</h4>
                    <p class="text-center job-title">Co-fondatrice de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/emmaroux"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/pub/emmanuelle-roux/10/371/134"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/hicham.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Hicham Tolimat</h4>
                    <p class="text-center job-title">Intervenant en base de données et sécurité web</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/Hi_T_ch"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/tolimat"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/olivier.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Oliver Le Cam</h4>
                    <p class="text-center job-title">intervenant en console unix</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/olecam"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://fr.linkedin.com/pub/olivier-le-cam/8/125/b43"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article> -->
        </div>
    </div>
</div>