<div class="container">
  <h2>Ajouter un bon plan</h2>
  <%= form_for ([:admin_v2, @tip]) do |f| %>
      <br />
      <form class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" >
          <ul class="nav">
            </select>
            <%= f.select(:category,
                           options_for_select([
                                                      ['Sélectionner*', 0],
                                                      ['Logement', 1],
                                                      ['Nourriture', 2],
                                                      ['Transports', 3],
                                                      ['Loisirs', 4],
                                                      ['Autres', 5]] ))%>

            <%= f.date_field :end_at, :placeholder =>'Date de fin du bon plan' %>
            <br /><br />
            <%= f.url_field :url, :placeholder => 'Lien' %>
            <br /><br />
            <%= f.telephone_field :phone, :class =>'input', :placeholder =>'Téléphone' %>
            <%= f.text_field :address, :class =>'input', :placeholder =>'Adresse du bon plan' %>
            <p>*: champs requis</p>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-10">
          <h4>Titre du bon plan*</h4>
          <%= f.text_field :title, :class => 'input' %>
          <h4>Description du bon plan*</h4>
          <%= f.text_area :description, :class =>'input textarea', :rows => 10, :cols => 120 %>
        </div>
        <div class="row">
          <div class="col-md-1">
            <%= f.submit "Valider", :class => 'input-btn'%>
          </div>
        </div>
        <div id="map"> <!-- GoogleMap here -->
        </div><!-- /.col-xs-12 main -->
      </form><!--/.row-->
      </div><!--/.container-->
  <% end %>