<div class="container">
  <h2>Gestion d'un bon plan</h2>
  <%= form_for ([:admin_v2, @tip]) do |f| %>
      <br />
      <form class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" >
          <ul class="nav">
            <%= f.select(:category,
                    options_for_select([
                          ['-- Sélectionner * --', false],
                          ['Non défini', 'Non défini'],
                          ['Nourriture', 'Nourriture'],
                          ['Transports', 'Transports'],
                          ['Loisirs', 'Loisirs'],
                          ['Logement', 'Logement'],
                          ['Autres', 'Autres']
                    ]))
                %>
            <%= f.date_field :end_at, :class =>'input' ,:placeholder =>'Date de fin du bon plan'  %>
            <br />
            <%= f.url_field :url, :class =>'input' ,:placeholder => 'Lien' %>
            <br />
            <%= f.telephone_field :phone, :class =>'input', :placeholder =>'Téléphone' %>
            <%= f.text_field :address, :class =>'input', :placeholder =>'Adresse du bon plan' %>
            <%= f.email_field :email, :class =>'input', :placeholder =>'E-mail   ' %>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-10">
          <h4>Titre du bon plan*</h4>
          <%= f.text_field :title, :class => 'input' ,:placeholder =>'Titre du bon plan', required: 'required'%>
          <h4>Description du bon plan*</h4>
          <%= f.text_area :description, :class =>'input textarea', :rows => 10, :cols => 120, :placeholder =>'Description du bon plan'%>
          <h4>Récuperation de l'iframe sur google map</h4>
          <h6>Pour afficher correctement l'iframe, modifier les valeurs de 'width' et de 'height' pour les mettre à 100% et 350.<br/> Ex : width="100%" height="350"</h6>
          <%= f.text_field :map, :class =>'input', :placeholder => 'Iframe de la map' %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">*: champs requis</p>
            <%= f.submit "Valider", :class => 'input-btn'%>
          </div>
        </div>
        <div id="map"> <!-- GoogleMap here -->
        </div><!-- /.col-xs-12 main -->
      </form><!--/.row-->
      </div><!--/.container-->
  <% end %>