<%= render 'partials/header' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <script src="/assets/modernizr.custom.js"></script>
        <%= csrf_meta_tags %>

<section class="banner banner-blue ">
  <div class="container">
      <p>Se connecter</p>
    </div>
</section>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="connexion_form">
            <fieldset class="row"> 
                <center>
                <div class="col-sm-12">
                    <div class="col-sm-12 input_wrapper">
                        <i class="fa fa-user"></i>
                        <%= f.email_field :email, autofocus: true , :class=>"admin-input-email","maxlength" => "60",:placeholder=>"Email"%>
                    </div>
                    <div class="col-sm-12 input_wrapper">
                           <i class="fa fa-lock"></i>
                        <%= f.password_field :password, autocomplete: "off", :class=>"admin-input-password","maxlength" => "60",:placeholder=>"Mot de passe"  %>
                                            
                    </div>
                </div>
                </center>

            <div class="col-sm-12 input_wrapper">
             <%= f.submit "Connexion",  :class => 'next button'  %>
            </div>
        <% end %>
     </fieldset>
</div>
<%= render 'partials/footer' %>

