<h1>Dossiers de candidatures</h1>
<div class="dropdown button button-blue float-right">
  <button class="btn dropdown-toggle button button-blue text-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= "#{@year}/#{@year+1}" %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% Applicant.all_years.each do |year| %>
        <li><a href="?year=<%= year %>"><%= "#{year}/#{year+1}" %></a></li>
    <% end %>
    <li><a href="?year=<%= Time.now.year+1 %>"><%= "#{Time.now.year+1}/#{Time.now.year+2}" %></a></li>
  </ul>
</div>
<button class="btn btn-default" id="btn-export" ><span class="glyphicon glyphicon-export"></span> Exporter </button>
<table class="table applicants" id="myTable">
    <thead>
        <tr>
            <th>N° <span class="caret"></span></th>
            <th>Prénom <span class="caret"></span></th>
            <th>Nom <span class="caret"></span></th>
            <th>Mis à jour <span class="caret"></span></th>
            <th>Avis <span class="caret"></span></th>
            <th>Votre avis <span class="caret"></span></th>
            <th>Options</th>
            <th class="important-section-list">Status <span class="caret"></span></th>
        </tr>
    </thead>
    <tbody>
    <% @applicants.each.with_index(1) do |applicant, index| %>
        <tr>
            <td data-th="ID" ><%= index %></td>
            <td data-th="Nom" ><%= applicant.name %></td>
            <td data-th="Prénom" ><%= applicant.first_name %></td>
            <td data-th="Date_depot" ><%= applicant.updated_at.to_time.strftime("%d/%m/%Y") %></td>

            <td data-th="Vote" >
              <!-- a décommenter et régler le problème, permet d'actualiser le compteur sur l'index candidature normalement -->
                <%
                    @positif = 0
                    @neutre = 0
                    @negatif = 0
                    @your_vote = -1

                    applicant.votes.each do |vote|
                        if vote.id_voter == @user.id
                            @your_vote = vote.value
                        end
                        if vote.value == 2
                            @positif += 1
                        elsif vote.value == 1
                            @negatif += 1
                        else
                            @neutre += 1
                        end
                    end
                 %>

                <span class="badge badge-green">+<%= @positif %></span>
                <span class="badge badge-yellow">=<%= @neutre %></span>
                <span class="badge badge-red">-<%= @negatif %></span>
            </td>
            <td>
            <%  if @your_vote == -1 %>
                Pas encore voté
            <%  elsif @your_vote == 0 %>
                <span class="badge badge-yellow">Neutre</span>
            <%  elsif @your_vote == 1 %>
                <span class="badge badge-red">Négatif</span>
            <%  elsif @your_vote == 2 %>
                <span class="badge badge-green">Positif</span>
            <%  end %>
            </td>
            <td data-th="Voir">
                <%= link_to(admin_v2_applicant_path(applicant), target: '_blank', :class=>'badge badge-blue') do %>
                <i class="fa fa-eye"></i> voir
                <% end %>
                <% if current_user.role === "admin" %>

                <% end %>

            </td>
            <td class="important-section-list" data-th="Status">
                <% if applicant.applicant_status != nil %>
                    <% @status = applicant.applicant_status %>
                    <%= status_applicant(@status) %>
                <% else %>
                <span class="alert alert-error">Erreur dans la base de donnée : le dossier n'a pas de status lié</span>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

