<div class="gray-bg wrapper">
    <div class="container bp">

        
        
        
         
        <nav class="col-md-3 type">
            <!-- Span de categorie courante  -->
            <span style="display:none" id="categ_currant" value="<%= @category %>"></span>
            <div class="bpbutton row">
                <a href="/tips" data-filter-type="all">
                    <span> Tous </span>
                </a>
            </div>
            <% for diff_category in @diff_category %>
            <div class="bpbutton row">
                <a href="/tips?category=<%= diff_category %>" data-filter-type="<%= diff_category %>">
                    <span> <%= diff_category.capitalize %> </span>
                </a>
            </div>
            <% end %>
        </nav>

        <section class="col-md-8 col-md-offset-1 home-news">
            <nav class="col-md-12">
                <form class="col-md-4 search" accept-charset="UTF-8" action="#" method="post">
                    <input class="col-md-9"  id="name_contact" name="name_contact" placeholder="Recherche" type="text">
                    <button class="btn btn-default glyphicon glyphicon-search" name="button" type="submit"></button>
                </form>
                <div class="bpbutton">
                    <a href="#">
                        <span> Proposer un bon plan </span>
                    </a>
                </div>
            </nav>
            <% for tip in @tips %>
            <article class="col-md-12" data-filter-type="<%= tip.category %>">
                <div class="article-new">
                    <a href="/tips/<%= tip.id %>"> <h3> <%= tip.title %> </h3>
                    </a>
                    <p>
                        <%= tip.description.truncate(500) %>
                    </p>
                    <div class="row">

                        <a href="/tips/<%= tip.id %>" class="col-md-4"> <h3>En savoir +</h3> </a>
<!--                        <div class="col-md-4 vote">
                            <a href="#" class="glyphicon glyphicon-thumbs-up"> +1 </a>
                            <a href="#" class="glyphicon glyphicon-thumbs-down"> -1 </a>
                        </div>-->
                    </div>
                </div>
            </article>
            <% end %>


        </section>


    </div>

</div>

