<style>
    .tip-container{
        padding: 0;
    }

    .header-tip{
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }

    .header-tip>span{
        margin-right: 10px;
    }

    #limit-date{
        margin-left: 55px;
    }

    .content{
        margin-top: 20px;
    }

    .plan{
        height: 350px;
    }

    .plan, .info{
        padding-left: 15px;
    }

    .vote-tip{
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .info.tip-container{
        margin-top: 30px;
        font-size: 15px;
    }


    .info.tip-container .info-tips{
        font-weight: 600;
    }

    .share .network{
        margin: 30px auto;
    }

    .share .network span{
        width: 30%;
        display: inline-block;
        text-align: center;
    }


    @media screen and (min-width: 992px) and (max-width: 1999px){
        .banner p.tips-title{
            font-size: 80px;
        }

        .share{
            float: none;
            margin-top: 30px;
        }

        .report.btn-danger{
            float: right;
        }
    }
</style>

<section class="banner banner-formation">
  <div class="container">
    <p class="tips-title">Les bons plans étudiants</p>
  </div>
</section>

<hr class="horizontal-line gray-bg">
<div class="bg-white new">
  <div class="container">
    <div class="row">
      <article class="col-md-10 col-md-offset-1">
        <div class="row">
          <button class="back btn btn-danger">Retour aux bons plans</button>
          <div class="col-md-12 tip-container">
            <div class="col-md-6 tip-container">
              <header class="header-tip">
                <h1><%= @tip.title %></h1>
                <span>Posté le : <%= @tip.created_at.strftime("%d %B %Y") %></span>
                <% if @tip.updated_at? %>
                    <span>Modifié le : <%= @tip.updated_at.strftime("%d %B %Y") %></span>
                <% end %>
                <span id="limit-date">Valable jusqu'au : <%= @tip.end_at.strftime("%d %B %Y") %></span>
              </header>
              <div class="content">
                <p><%= @tip.description%></p>
              </div>
            </div>
            <div class="col-md-6 tip-container plan">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41946.04702307537!2d2.2922776128747513!3d48.922480497360326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x852b66b6aa5f9a74!2sFacLab!5e0!3m2!1sfr!2sfr!4v1444814386357" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 tip-container share">
              <!--<div class="vote-tip"><span class="up">+</span>150</div>
              <div class="vote-tip"><span class="down">-</span>42</div> -->
              <div class="network">
                <span><img src="/assets/tips/facebook-logo.png" alt="Logo Facebook"></span>
                <span><img src="/assets/tips/twitter-logo.png" alt="Logo Twitter"></span>
                <span><img src="/assets/tips/google-plus-logo.png" alt="Logo Google Plus"></span>
              </div>
            </div>
            <div class="info col-md-6 tip-container">
              <% if @tip.address? %>
                <p>Adresse : <span class="info-tips"><%= @tip.address%></span></p>
              <% end%>
              <% if @tip.url? %>
                  <p>Lien du bon plan : <a href="<%= @tip.url %>" class="info-tips"><%= @tip.url%></a></p>
              <% end%>
              <% if @tip.phone? %>
                <p>Téléphone : <span class="info-tips"><%= @tip.phone%></span></p>
              <% end%>
              <% if @tip.phone? %>
                <p>E-mail : <span class="info-tips">ADD COLUMN E-MAIL</span></p>
              <% end%>
            </div>
            <button class="report btn btn-danger">Signaler une erreur</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
