<!DOCTYPE html>
<html>
<head>
  <title>Lpdw20</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render :partial => "partials/header" %>
	<%= render :partial => "partials/content" %>
</div>

</body>
</html>
